[submodule "bundle/themes/mymolokai"]
	path = bundle/themes/mymolokai
	url = git://github.com/likun5053/mymolokai.git
[submodule "bundle/vimpulse"]
	path = bundle/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule "bundle/vimpulse-surround"]
	path = bundle/vimpulse-surround
	url = git://github.com/timcharper/vimpulse-surround.el.git
[submodule "bundle/smex"]
	path = bundle/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "bundle/autopair"]
	path = bundle/autopair
	url = git://github.com/emacsmirror/autopair.git
[submodule "bundle/shell-completion"]
	path = bundle/shell-completion
	url = git://github.com/emacsmirror/shell-completion.git
[submodule "bundle/auto-complete"]
	path = bundle/auto-complete
	url = git://github.com/m2ym/auto-complete.git
